* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background: #f4f6f8;
  color: #222;
}

/* CONTAINER */
.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

/* HEADER */
.header {
  .header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.theme-btn {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}   backgroun: #0f172a;
  color: #fff;
  padding: 30px 0;
}

.logo {
  font-size: 32px;
  font-weight: 700;
}

.tagline {
  font-size: 14px;
  opacity: 0.8;
}

/* NAV */
.nav {
  background: #1e293b;
}

.nav a {
  color: #fff;
  text-decoration: none;
  margin-right: 15px;
  font-size: 14px;
  padding: 12px 0;
  display: inline-block;
}

.nav a:hover {
  text-decoration: underline;
}

/* NEWS GRID */
.news-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  margin: 40px 0;
}

.news-card {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.05);
}

.news-card h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.news-card p {
  font-size: 14px;
  color: #555;
  margin-bottom: 10px;
}

.news-card span {
  font-size: 12px;
  color: #888;
}

/* FOOTER */
.footer {
  background: #0f172a;
  color: #aaa;
  text-align: center;
  padding: 20px 0;
  font-size: 13px;
}
/* DARK MODE */
body.dark {
  background: #0b1220;
  color: #e5e7eb;
}

body.dark .header,
body.dark .footer {
  background: #020617;
}

body.dark .nav {
  background: #020617;
}

body.dark .news-card {
  background: #020617;
  color: #e5e7eb;
}

body.dark .news-card p {
  color: #cbd5f5;
}
